{% extends "movie/base.html" %}
{% load static %}

{% block title %}
  {% if category %}类别：{{ category.name }}{% else %}电影{% endif %}
{% endblock %}

{% block content %}
{#todo：block的作用#}
    <div id="sidebar">
    <h3>分类</h3>
    <ul>
{#    todo:搞清楚逻辑#}
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url "movie:movie_list" %}">All</a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="main" class="movie-list">
    <h1>{% if category %}{{ category.name }}{% else %}电影列表{% endif %}</h1>
    {% for movie in movies %}
      <div class="item">
        <a href="{{ movie.get_absolute_url }}">
          <img src="{% if movie.image %}{{ movie.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ movie.get_absolute_url }}">{{ movie.name }}</a>
        <br>
      </div>
    {% endfor %}
  </div>
{% endblock %}